<!doctype html>

<html <%=HTML %>>

<head>
    <title>ThePrime</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <script src="https://miniapp.getprime.me/telegram-web-app.js"></script>
    <script async src='https://ushoaglosee.com/sdk.js' data-zone='9031733' data-sdk='show_9031733'></script>
    <script async src='https://miniapp.getprime.me/adsgram.min.js'></script>
    <script async src='https://unpkg.com/@tonconnect/ui@latest/dist/tonconnect-ui.min.js'></script>
    <%= HEAD %>
</head>

<body>
    <%= BODY %>
</body>

</html>