.confetti {
  position: fixed;
  z-index: 5;
  bottom: -30px;
  width: 30px;
  height: 30px;
  pointer-events: none;
  animation-duration: 0.8s, 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

@keyframes confetti {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-120vh);
  }
}
